.searchComponent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchComponent .icon {
    width: 18px;
    height: 18px;
    left: 0.75rem;
    opacity: .5;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchComponent .icon img {
    width: 100% !important;
    height: 100% !important;
    filter: invert(1);
}

.searchComponent input {
    color: #fff;
    background-color: rgb(55 65 81);
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    border-radius: 9999px;
    font-size: 0.875rem;
    width: 16rem;
    outline: none;
}

input::placeholder {
    color: rgb(156 163 175);
}

input:focus {
    box-shadow: 0 0 0 2px rgb(59 130 246);
}
